@tailwind base;
@tailwind components;
@tailwind utilities;

.cityLevel {
  background-image: url("https://i.imgur.com/3cJkBGJ.jpeg");
  width: 2040px;
  height: 1260px;
  cursor: pointer;
}

#characterSelectBox {
  position: relative;
  visibility: hidden;
}
