@tailwind base;
@tailwind components;
@tailwind utilities;

.cityLevel {
  background-image: url("https://i.imgur.com/3cJkBGJ.jpeg");
  width: 2040px;
  height: 1260px;
  cursor: pointer;
}

#characterSelectBox {
  position: relative;
  left: 50px;
  top: 50px;
  transition: left 0.5s cubic-bezier(0.42, -0.3, 0.78, 1.25),
    top 0.5s cubic-bezier(0.42, -0.3, 0.78, 1.25);
}
